@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-background: 0 0% 95%;
        --sidebar-foreground: 20 14.3% 4.1%;
        --sidebar-primary: 24.6 95% 53.1%;
        --sidebar-primary-foreground: 60 9.1% 97.8%;
        --sidebar-accent: 60 4.8% 90%;
        --sidebar-accent-foreground: 24 9.8% 10%;
        --sidebar-border: 20 5.9% 90%;
        --sidebar-ring: 24.6 95% 53.1%;
    }

    .dark {
        --background: 10 5% 10%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 5% 7%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 5% 6.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 10 5% 8%;
        --sidebar-foreground: 60 9.1% 97.8%;
        --sidebar-primary: 20.5 90.2% 48.2%;
        --sidebar-primary-foreground: 60 9.1% 97.8%;
        --sidebar-accent: 12 6.5% 15.1%;
        --sidebar-accent-foreground: 60 9.1% 97.8%;
        --sidebar-border: 12 6.5% 15.1%;
        --sidebar-ring: 20.5 90.2% 48.2%;
    }
} */
@layer base {
    :root {
        --background: 152.9 0% 94.5%;
        --foreground: 152.9 0% 7.3%;
        --card: 152.9 0% 94.5%;
        --card-foreground: 152.9 0% 12.3%;
        --popover: 152.9 0% 97.3%;
        --popover-foreground: 152.9 95% 4.5%;
        --primary: 152.9 41.6% 49%;
        --primary-foreground: 0, 0%, 100%;
        --secondary: 152.9 0% 88%;
        --secondary-foreground: 0 0% 0%;
        --muted: 190.9 0% 88%;
        --muted-foreground: 152.9 0% 37.3%;
        --accent: 190.9 0% 92%;
        --accent-foreground: 152.9 0% 12.3%;
        --destructive: 0 50% 39%;
        --destructive-foreground: 152.9 0% 94.5%;
        --border: 152.9 0% 74.4%;
        --input: 152.9 0% 82.4%;
        --ring: 152.9 88.7% 45.3%;
        --radius: 0.5rem;
        --sidebar-background: 153, 0%, 90%;
        --sidebar-foreground: 153, 0%, 7%;
        --sidebar-primary: 153, 42%, 44%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 191, 0%, 85%;
        --sidebar-accent-foreground: 0 0% 0%;
        --sidebar-border: 153, 20%, 61%;
        --sidebar-ring: 143, 98%, 45%;
      }
      .dark {
        --background: 152.9 0% 7.3%;
        --foreground: 152.9 0% 94.5%;
        --card: 152.9 0% 7%;
        --card-foreground: 152.9 0% 94.5%;
        --popover: 152.9 0% 5%;
        --popover-foreground: 152.9 0% 94.5%;
        --primary: 152.9 41.6% 49%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 152.9 0% 12%;
        --secondary-foreground: 0 0% 100%;
        --muted: 190.9 0% 12%;
        --muted-foreground: 152.9 0% 62.3%;
        --accent: 190.9 0% 8%;
        --accent-foreground: 152.9 0% 92.3%;
        --destructive: 0 50% 39%;
        --destructive-foreground: 152.9 0% 94.5%;
        --border: 152.9 0% 15%;
        --input: 152.9 0% 15%;
        --ring: 152.9 88.7% 25.3%;
        --radius: 0.5rem;
        --sidebar-background: 153, 0%, 9%;
        --sidebar-foreground: 153, 0%, 100%;
        --sidebar-primary: 153, 42%, 39%;
        --sidebar-primary-foreground: 0, 0%, 0%;
        --sidebar-accent: 191, 0%, 14%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 153, 20%, 31%;
        --sidebar-ring: 143, 98%, 45%;
      }
    /* :root {
        --background: 203.3 0% 94.5%;
        --foreground: 203.3 0% 7.3%;
        --card: 203.3 0% 94.5%;
        --card-foreground: 203.3 0% 12.3%;
        --popover: 203.3 0% 97.3%;
        --popover-foreground: 203.3 95% 4.5%;
        --primary: 203.3 100% 66.7%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 203.3 10% 79%;
        --secondary-foreground: 0 0% 0%;
        --muted: 241.3 0% 89.5%;
        --muted-foreground: 203.3 0% 37.3%;
        --accent: 241.3 0% 92%;
        --accent-foreground: 203.3 0% 12.3%;
        --destructive: 0 50% 39%;
        --destructive-foreground: 203.3 0% 94.5%;
        --border: 203.3 0% 82%;
        --input: 203.3 0% 82.4%;
        --ring: 203.3 88.7% 55.3%;
        --radius: 0.7rem;
        --sidebar-background: 203, 0%, 90%;
        --sidebar-foreground: 203, 0%, 7%;
        --sidebar-primary: 203, 100%, 60%;
        --sidebar-primary-foreground: 0 0% 0%;
        --sidebar-accent: 241, 0%, 86%;
        --sidebar-accent-foreground: 0 0% 0%;
        --sidebar-border: 203, 0%, 82%;
        --sidebar-ring: 193, 98%, 45%;
      }
      .dark {
        --background: 203.3 0% 7.3%;
        --foreground: 203.3 0% 94.5%;
        --card: 203.3 0% 4.5%;
        --card-foreground: 203.3 0% 94.5%;
        --popover: 203.3 0% 5%;
        --popover-foreground: 203.3 0% 94.5%;
        --primary: 203.3 100% 66.7%;
        --primary-foreground: 0, 0%, 0%;
        --secondary: 203.3 0% 14.5%;
        --secondary-foreground: 0 0% 100%;
        --muted: 241.3 0% 10.5%;
        --muted-foreground: 203.3 0% 62.3%;
        --accent: 241.3 0% 10.5%;
        --accent-foreground: 203.3 0% 92.3%;
        --destructive: 0 50% 39%;
        --destructive-foreground: 203.3 0% 94.5%;
        --border: 203.3 0% 18%;
        --input: 203.3 0% 18%;
        --ring: 203.3 88.7% 45.3%;
        --radius: 0.7rem;
        --sidebar-background: 203, 0%, 10%;
        --sidebar-foreground: 203, 0%, 100%;
        --sidebar-primary: 203, 100%, 53%;
        --sidebar-primary-foreground: 0, 0%, 0%;
        --sidebar-accent: 241, 0%, 17%;
        --sidebar-accent-foreground: 0 0% 100%;
        --sidebar-border: 203, 0%, 11%;
        --sidebar-ring: 193, 98%, 45%;
      } */
  }
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

::-webkit-scrollbar {
    @apply w-3.5 h-3;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-black bg-opacity-10 border-[3px] border-transparent border-solid bg-clip-padding dark:bg-white dark:bg-opacity-10 cursor-default;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-black bg-opacity-40 dark:bg-white dark:bg-opacity-20;
}